// Custom styles.
body { 
    background:url(/images/00.jpg);
    background-attachment:fixed;
}

@font-face {
    font-family: simi;
    src: url('/fonts/2.ttf');
}
.site-title {
    font-size: 72px !important;
	font-family: 'simi' !important;
}
    
