.header { background: $head-bg; }

.header-inner { 
  position: relative; 
  background: rgba(255,255,255,.75) none repeat scroll !important;
}


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
